In [1]:
import numpy as np
import pandas as pd

In [2]:
movie = pd.read_csv("./tmdb_5000_movies.csv")
credit = pd.read_csv("./tmdb_5000_credits.csv")

In [3]:
movie.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [4]:
movie.shape

(4803, 20)

In [5]:
credit.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [6]:
credit.shape

(4803, 4)

In [7]:
df = movie.merge(credit,on="title",how="outer")

In [8]:
df.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,1500000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 9648, ""na...",http://www.hashtaghorror.com/,301325,[],de,#Horror,"Inspired by actual events, a group of 12 year ...",2.815228,"[{""name"": ""AST Studios"", ""id"": 75277}, {""name""...",...,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Death is trending.,#Horror,3.3,52,301325,"[{""cast_id"": 0, ""character"": ""Alex's 12-Step F...","[{""credit_id"": ""545bbac70e0a261fb6002329"", ""de..."

In [9]:
df.shape

(4809, 23)

In [10]:
#columns needed for analysis
#genere
#id
#keywords
#title
#overview
#cast
#crew

df = df[['movie_id','title','keywords','overview','genres','cast','crew']]

In [11]:
df

,movie_id,title,keywords,overview,genres,cast,crew
0,301325,#Horror,[],"Inspired by actual events, a group of 12 year ...","[{""id"": 18, ""name"": ""Drama""}, {""id"": 9648, ""na...","[{""cast_id"": 0, ""character"": ""Alex's 12-Step F...","[{""credit_id"": ""545bbac70e0a261fb6002329"", ""de..."
1,19913,(500) Days of Summer,"[{""id"": 248, ""name"": ""date""}, {""id"": 572, ""nam...","Tom (Joseph Gordon-Levitt), greeting-card writ...","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""cast_id"": 4, ""character"": ""Tom Hansen"", ""cr...","[{""credit_id"": ""52fe47f99251416c750abaa5"", ""de..."
2,333371,10 Cloverfield Lane,"[{""id"": 1930, ""name"": ""kidnapping""}, {""id"": 23...","After a car accident, Michelle awakens to find...","[{""id"": 53, ""name"": ""Thriller""}, {""id"": 878, ""...","[{""cast_id"": 2, ""character"": ""Michelle"", ""cred...","[{""credit_id"": ""57627624c3a3680682000872"", ""de..."
3,345003,10 Days in a Madhouse,"[{""id"": 1568, ""name"": ""undercover""}, {""id"": 49...","Nellie Bly, a 23 year-old reporter for Joseph ...","[{""id"": 18, ""name"": ""Drama""}]","[{""cast_id"": 2, ""character"": ""Nellie Bly"", ""cr...","[{""credit_id"": ""594efa1fc3a36832650455ff"", ""de..."
4,4951,10 Things I Hate About You,"[{""id"": 497, ""name"": ""shakespeare""}, {""id"": 59...","Bianca, a tenth grader, has never gone on a da...","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...","[{""cast_id"": 2, ""character"": ""Patrick Verona"",...","[{""credit_id"": ""52fe43e6c3a36847f807731d"", ""de..."
...,...,...,...,...,...,...,...
4804,10664,[REC]²,"[{""id"": 3684, ""name"": ""religion and supernatur...","The action continues from [REC], with the medi...","[{""id"": 53, ""name"": ""Thriller""}, {""id"": 27, ""n...","[{""cast_id"": 3, ""character"": ""\u00c1ngela Vida...","[{""credit_id"": ""52fe439e9251416c7501783d"", ""de..."
4805,1946,eXistenZ,"[{""id"": 282, ""name"": ""video game""}, {""id"": 215...",A game designer on the run from assassins must...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 53, ""nam...","[{""cast_id"": 3, ""character"": ""Allegra Geller"",...","[{""credit_id"": ""52fe4325c3a36847f803db2d"", ""de..."
4806,7451,xXx,"[{""id"": 999, ""name"": ""sports car""}, {""id"": 186...",Xander Cage is your standard adrenaline junkie...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 8, ""character"": ""Xander Cage"", ""c...","[{""credit_id"": ""538d8c59c3a368714b004879"", ""de..."
4807,11679,xXx: State of the Union,"[{""id"": 521, ""name"": ""washington d.c.""}, {""id""...","Ice Cube stars as Darius Stone, a thrill-seeki...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 13, ""character"": ""Darius Stone / ...","[{""credit_id"": ""5578b667c3a3682a7500041a"", ""de..."
4808,8202,Æon Flux,"[{""id"": 779, ""name"": ""martial arts""}, {""id"": 4...","400 years into the future, disease has wiped o...","[{""id"": 28, ""name"": ""Action""}, {""id"": 878, ""na...","[{""cast_id"": 1, ""character"": ""Aeon Flux"", ""cre...","[{""credit_id"": ""52fe4495c3a36847f809e6f3"", ""de..."

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4809 non-null   int64
 1   title     4809 non-null   object
 2   keywords  4809 non-null   object
 3   overview  4806 non-null   object
 4   genres    4809 non-null   object
 5   cast      4809 non-null   object
 6   crew      4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 263.1+ KB

In [13]:
df.isnull().sum()

movie_id    0
title       0
keywords    0
overview    3
genres      0
cast        0
crew        0
dtype: int64

In [14]:
df.dropna(inplace=True)

In [15]:
df.isnull().sum()

movie_id    0
title       0
keywords    0
overview    0
genres      0
cast        0
crew        0
dtype: int64

In [16]:
df.iloc[0].genres

'[{"id": 18, "name": "Drama"}, {"id": 9648, "name": "Mystery"}, {"id": 27, "name": "Horror"}, {"id": 53, "name": "Thriller"}]'

In [17]:
import ast

In [18]:
def convert(obj):
    l=[]
    for i in ast.literal_eval(obj):
        l.append(i['name'])
    return l

In [19]:
convert('[{"id": 18, "name": "Drama"}, {"id": 9648, "name": "Mystery"}, {"id": 27, "name": "Horror"}, {"id": 53, "name": "Thriller"}]')

['Drama', 'Mystery', 'Horror', 'Thriller']

In [20]:
df['genres'] = df['genres'].apply(convert)

In [21]:
df.head(1)

,movie_id,title,keywords,overview,genres,cast,crew
0,301325,#Horror,[],"Inspired by actual events, a group of 12 year ...","[Drama, Mystery, Horror, Thriller]","[{""cast_id"": 0, ""character"": ""Alex's 12-Step F...","[{""credit_id"": ""545bbac70e0a261fb6002329"", ""de..."

In [22]:
df['keywords'] = df['keywords'].apply(convert)

In [23]:
df.head()

,movie_id,title,keywords,overview,genres,cast,crew
0,301325,#Horror,[],"Inspired by actual events, a group of 12 year ...","[Drama, Mystery, Horror, Thriller]","[{""cast_id"": 0, ""character"": ""Alex's 12-Step F...","[{""credit_id"": ""545bbac70e0a261fb6002329"", ""de..."
1,19913,(500) Days of Summer,"[date, sex, jealousy, fight, architect, galler...","Tom (Joseph Gordon-Levitt), greeting-card writ...","[Comedy, Drama, Romance]","[{""cast_id"": 4, ""character"": ""Tom Hansen"", ""cr...","[{""credit_id"": ""52fe47f99251416c750abaa5"", ""de..."
2,333371,10 Cloverfield Lane,"[kidnapping, bunker, paranoia, basement, survi...","After a car accident, Michelle awakens to find...","[Thriller, Science Fiction, Drama]","[{""cast_id"": 2, ""character"": ""Michelle"", ""cred...","[{""credit_id"": ""57627624c3a3680682000872"", ""de..."
3,345003,10 Days in a Madhouse,"[undercover, insane asylum, reporter]","Nellie Bly, a 23 year-old reporter for Joseph ...",[Drama],"[{""cast_id"": 2, ""character"": ""Nellie Bly"", ""cr...","[{""credit_id"": ""594efa1fc3a36832650455ff"", ""de..."
4,4951,10 Things I Hate About You,"[shakespeare, sister, high school, cannabis, d...","Bianca, a tenth grader, has never gone on a da...","[Comedy, Romance, Drama]","[{""cast_id"": 2, ""character"": ""Patrick Verona"",...","[{""credit_id"": ""52fe43e6c3a36847f807731d"", ""de..."

In [24]:
def castConvert(obj):
    l=[]
    c = 0
    for i in ast.literal_eval(obj):
        if c < 3:
            l.append(i['name'])
            c+=1
        else:
            break
    return l

In [25]:
df['cast'] = df['cast'].apply(castConvert)

In [26]:
df.head(1)

,movie_id,title,keywords,overview,genres,cast,crew
0,301325,#Horror,[],"Inspired by actual events, a group of 12 year ...","[Drama, Mystery, Horror, Thriller]","[Taryn Manning, Natasha Lyonne, Chloë Sevigny]","[{""credit_id"": ""545bbac70e0a261fb6002329"", ""de..."

In [27]:
def dirConvert(obj):
    l=[]
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            l.append(i['name'])
            break
    return l

In [28]:
df['crew']=df['crew'].apply(dirConvert)

In [29]:
df.head()

,movie_id,title,keywords,overview,genres,cast,crew
0,301325,#Horror,[],"Inspired by actual events, a group of 12 year ...","[Drama, Mystery, Horror, Thriller]","[Taryn Manning, Natasha Lyonne, Chloë Sevigny]",[Tara Subkoff]
1,19913,(500) Days of Summer,"[date, sex, jealousy, fight, architect, galler...","Tom (Joseph Gordon-Levitt), greeting-card writ...","[Comedy, Drama, Romance]","[Joseph Gordon-Levitt, Zooey Deschanel, Chloë ...",[Marc Webb]
2,333371,10 Cloverfield Lane,"[kidnapping, bunker, paranoia, basement, survi...","After a car accident, Michelle awakens to find...","[Thriller, Science Fiction, Drama]","[Mary Elizabeth Winstead, John Goodman, John G...",[Dan Trachtenberg]
3,345003,10 Days in a Madhouse,"[undercover, insane asylum, reporter]","Nellie Bly, a 23 year-old reporter for Joseph ...",[Drama],"[Caroline Barry, Christopher Lambert, Kelly Le...",[Timothy Hines]
4,4951,10 Things I Hate About You,"[shakespeare, sister, high school, cannabis, d...","Bianca, a tenth grader, has never gone on a da...","[Comedy, Romance, Drama]","[Heath Ledger, Julia Stiles, Joseph Gordon-Lev...",[Gil Junger]

In [30]:
df['overview'] = df['overview'].apply(lambda x : x.split())

In [31]:
df

,movie_id,title,keywords,overview,genres,cast,crew
0,301325,#Horror,[],"[Inspired, by, actual, events,, a, group, of, ...","[Drama, Mystery, Horror, Thriller]","[Taryn Manning, Natasha Lyonne, Chloë Sevigny]",[Tara Subkoff]
1,19913,(500) Days of Summer,"[date, sex, jealousy, fight, architect, galler...","[Tom, (Joseph, Gordon-Levitt),, greeting-card,...","[Comedy, Drama, Romance]","[Joseph Gordon-Levitt, Zooey Deschanel, Chloë ...",[Marc Webb]
2,333371,10 Cloverfield Lane,"[kidnapping, bunker, paranoia, basement, survi...","[After, a, car, accident,, Michelle, awakens, ...","[Thriller, Science Fiction, Drama]","[Mary Elizabeth Winstead, John Goodman, John G...",[Dan Trachtenberg]
3,345003,10 Days in a Madhouse,"[undercover, insane asylum, reporter]","[Nellie, Bly,, a, 23, year-old, reporter, for,...",[Drama],"[Caroline Barry, Christopher Lambert, Kelly Le...",[Timothy Hines]
4,4951,10 Things I Hate About You,"[shakespeare, sister, high school, cannabis, d...","[Bianca,, a, tenth, grader,, has, never, gone,...","[Comedy, Romance, Drama]","[Heath Ledger, Julia Stiles, Joseph Gordon-Lev...",[Gil Junger]
...,...,...,...,...,...,...,...
4804,10664,[REC]²,"[religion and supernatural, blood sample, occu...","[The, action, continues, from, [REC],, with, t...","[Thriller, Horror]","[Manuela Velasco, Ferran Terraza, Claudia Silva]",[Jaume Balagueró]
4805,1946,eXistenZ,"[video game, hacker, bodyguard, pop star, virt...","[A, game, designer, on, the, run, from, assass...","[Action, Thriller, Science Fiction, Horror]","[Jennifer Jason Leigh, Jude Law, Ian Holm]",[David Cronenberg]
4806,7451,xXx,"[sports car, biological weapon, cold war, russ...","[Xander, Cage, is, your, standard, adrenaline,...","[Action, Adventure, Thriller]","[Vin Diesel, Asia Argento, Samuel L. Jackson]",[Rob Cohen]
4807,11679,xXx: State of the Union,"[washington d.c., helicopter, usa president, g...","[Ice, Cube, stars, as, Darius, Stone,, a, thri...","[Action, Adventure, Crime, Drama, Mystery, Thr...","[Ice Cube, Samuel L. Jackson, Willem Dafoe]",[Lee Tamahori]
4808,8202,Æon Flux,"[martial arts, dystopia, surrealism, based on ...","[400, years, into, the, future,, disease, has,...","[Action, Science Fiction]","[Charlize Theron, Marton Csokas, Jonny Lee Mil...",[Karyn Kusama]

In [32]:
df['genres'] = df['genres'].apply(lambda x:[i.replace(" ","") for i in x])
df['overview'] = df['overview'].apply(lambda x:[i.replace(" ","") for i in x])
df['keywords'] = df['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
df['cast'] = df['cast'].apply(lambda x:[i.replace(" ","") for i in x])
df['crew'] = df['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [33]:
df['tag'] = df['genres']+df['overview']+df['keywords']+df['cast']+df['crew']

In [34]:
df

,movie_id,title,keywords,overview,genres,cast,crew,tag
0,301325,#Horror,[],"[Inspired, by, actual, events,, a, group, of, ...","[Drama, Mystery, Horror, Thriller]","[TarynManning, NatashaLyonne, ChloëSevigny]",[TaraSubkoff],"[Drama, Mystery, Horror, Thriller, Inspired, b..."
1,19913,(500) Days of Summer,"[date, sex, jealousy, fight, architect, galler...","[Tom, (Joseph, Gordon-Levitt),, greeting-card,...","[Comedy, Drama, Romance]","[JosephGordon-Levitt, ZooeyDeschanel, ChloëGra...",[MarcWebb],"[Comedy, Drama, Romance, Tom, (Joseph, Gordon-..."
2,333371,10 Cloverfield Lane,"[kidnapping, bunker, paranoia, basement, survi...","[After, a, car, accident,, Michelle, awakens, ...","[Thriller, ScienceFiction, Drama]","[MaryElizabethWinstead, JohnGoodman, JohnGalla...",[DanTrachtenberg],"[Thriller, ScienceFiction, Drama, After, a, ca..."
3,345003,10 Days in a Madhouse,"[undercover, insaneasylum, reporter]","[Nellie, Bly,, a, 23, year-old, reporter, for,...",[Drama],"[CarolineBarry, ChristopherLambert, KellyLeBrock]",[TimothyHines],"[Drama, Nellie, Bly,, a, 23, year-old, reporte..."
4,4951,10 Things I Hate About You,"[shakespeare, sister, highschool, cannabis, de...","[Bianca,, a, tenth, grader,, has, never, gone,...","[Comedy, Romance, Drama]","[HeathLedger, JuliaStiles, JosephGordon-Levitt]",[GilJunger],"[Comedy, Romance, Drama, Bianca,, a, tenth, gr..."
...,...,...,...,...,...,...,...,...
4804,10664,[REC]²,"[religionandsupernatural, bloodsample, occult,...","[The, action, continues, from, [REC],, with, t...","[Thriller, Horror]","[ManuelaVelasco, FerranTerraza, ClaudiaSilva]",[JaumeBalagueró],"[Thriller, Horror, The, action, continues, fro..."
4805,1946,eXistenZ,"[videogame, hacker, bodyguard, popstar, virtua...","[A, game, designer, on, the, run, from, assass...","[Action, Thriller, ScienceFiction, Horror]","[JenniferJasonLeigh, JudeLaw, IanHolm]",[DavidCronenberg],"[Action, Thriller, ScienceFiction, Horror, A, ..."
4806,7451,xXx,"[sportscar, biologicalweapon, coldwar, russian...","[Xander, Cage, is, your, standard, adrenaline,...","[Action, Adventure, Thriller]","[VinDiesel, AsiaArgento, SamuelL.Jackson]",[RobCohen],"[Action, Adventure, Thriller, Xander, Cage, is..."
4807,11679,xXx: State of the Union,"[washingtond.c., helicopter, usapresident, gen...","[Ice, Cube, stars, as, Darius, Stone,, a, thri...","[Action, Adventure, Crime, Drama, Mystery, Thr...","[IceCube, SamuelL.Jackson, WillemDafoe]",[LeeTamahori],"[Action, Adventure, Crime, Drama, Mystery, Thr..."
4808,8202,Æon Flux,"[martialarts, dystopia, surrealism, basedoncar...","[400, years, into, the, future,, disease, has,...","[Action, ScienceFiction]","[CharlizeTheron, MartonCsokas, JonnyLeeMiller]",[KarynKusama],"[Action, ScienceFiction, 400, years, into, the..."

In [35]:
newdf = df[['movie_id','title','tag']]

In [36]:
newdf['tag'] = newdf['tag'].apply(lambda x:" ".join(x))

C:\Users\niket\AppData\Local\Temp\ipykernel_5088\2628744225.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['tag'] = newdf['tag'].apply(lambda x:" ".join(x))

In [37]:
newdf.head()

,movie_id,title,tag
0,301325,#Horror,Drama Mystery Horror Thriller Inspired by actu...
1,19913,(500) Days of Summer,Comedy Drama Romance Tom (Joseph Gordon-Levitt...
2,333371,10 Cloverfield Lane,Thriller ScienceFiction Drama After a car acci...
3,345003,10 Days in a Madhouse,"Drama Nellie Bly, a 23 year-old reporter for J..."
4,4951,10 Things I Hate About You,"Comedy Romance Drama Bianca, a tenth grader, h..."

In [38]:
newdf['tag'][0]

'Drama Mystery Horror Thriller Inspired by actual events, a group of 12 year old girls face a night of horror when the compulsive addiction of an online social media game turns a moment of cyber bullying into a night of insanity. TarynManning NatashaLyonne ChloëSevigny TaraSubkoff'

In [39]:
newdf['tag'][1]

'Comedy Drama Romance Tom (Joseph Gordon-Levitt), greeting-card writer and hopeless romantic, is caught completely off-guard when his girlfriend, Summer (Zooey Deschanel), suddenly dumps him. He reflects on their 500 days together to try to figure out where their love affair went sour, and in doing so, Tom rediscovers his true passions in life. date sex jealousy fight architect gallery interview sister party love friends fate losangeles summer ikea year heartache JosephGordon-Levitt ZooeyDeschanel ChloëGraceMoretz MarcWebb'

In [40]:
import nltk

In [41]:
from nltk.stem.porter import PorterStemmer

In [42]:
ps = PorterStemmer()

In [43]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))

    return " ".join(y)

In [44]:
newdf['tag'][0]

'Drama Mystery Horror Thriller Inspired by actual events, a group of 12 year old girls face a night of horror when the compulsive addiction of an online social media game turns a moment of cyber bullying into a night of insanity. TarynManning NatashaLyonne ChloëSevigny TaraSubkoff'

In [45]:
newdf['tag'].apply(stem)

0       drama mysteri horror thriller inspir by actual...
1       comedi drama romanc tom (joseph gordon-levitt)...
2       thriller sciencefict drama after a car acciden...
3       drama nelli bly, a 23 year-old report for jose...
4       comedi romanc drama bianca, a tenth grader, ha...
                              ...
4804    thriller horror the action continu from [rec],...
4805    action thriller sciencefict horror a game desi...
4806    action adventur thriller xander cage is your s...
4807    action adventur crime drama mysteri thriller i...
4808    action sciencefict 400 year into the future, d...
Name: tag, Length: 4806, dtype: object

In [46]:
from sklearn.feature_extraction.text import CountVectorizer

In [48]:
cv = CountVectorizer()

In [49]:
vector = cv.fit_transform(newdf['tag']).toarray()

In [50]:
cv.get_feature_names_out()

array(['00', '000', '007', ..., '卧底肥妈', '绝地奶霸', '超级妈妈'], dtype=object)

In [51]:
cv = CountVectorizer(stop_words='english',max_features=5000)

In [53]:
from sklearn.metrics.pairwise import cosine_similarity

In [54]:
similarity = cosine_similarity(vector)

In [55]:
similarity

array([[1.        , 0.03797773, 0.1068621 , ..., 0.16996732, 0.17287295,
        0.28671708],
       [0.03797773, 1.        , 0.19051837, ..., 0.15061602, 0.09847982,
        0.08206099],
       [0.1068621 , 0.19051837, 1.        , ..., 0.31028568, 0.22322226,
        0.28141429],
       ...,
       [0.16996732, 0.15061602, 0.31028568, ..., 1.        , 0.32773069,
        0.39197906],
       [0.17287295, 0.09847982, 0.22322226, ..., 0.32773069, 1.        ,
        0.24782814],
       [0.28671708, 0.08206099, 0.28141429, ..., 0.39197906, 0.24782814,
        1.        ]])

In [62]:
newdf[newdf['title'] == 'Batman Begins'].index[0]

440

In [67]:
def recommend(movie):
    index = newdf[newdf['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(newdf.iloc[i[0]].title)

In [68]:
recommend('Avatar')

Aliens vs Predator: Requiem
Independence Day
Apollo 18
Battle: Los Angeles
Starship Troopers